#nav-bar {
position: fixed;
top: 0;
height: 80px;
width: 100vw;
background-color: #00a087;
color: #e8fdff;
padding-left: 2em;
padding-right: 2em;
}

#nav-bar .logo {
width: 80px;
height: 80px;
margin-right: 10px;
float: left;
}

#nav-bar .header {
float: left;
font-size: 2rem;
line-height: 2.5em;
}

#compose {
float: right;
color: #00a087;
background-color: #e8fdff;
height: 60px;
margin-top: 10px;
border-radius: 5px;
border: solid thin #244751;

}